.app-container {
    min-height: 100vh;
    padding: 2em;
    overflow: auto;
    background: var(--theme-page-background);
    color: var(--theme-font-color);
}

.app-theme-dark {
    --theme-page-background: #222;
    --theme-card-background: #1a1a1a;
    --theme-font-color: white;
}

.app-theme-light {
    --theme-page-background: white;
    --theme-card-background: #E8E8E8;
    --theme-font-color: black;
}