.buttonContainer {
    position: relative;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    user-select: none;
}

.fade {
    transition: opacity ease-in-out 0.125s;
}

.buttonContainer svg {
    position: absolute;
}

.topButton {
    z-index: 1;
}

.bottomButton {
    opacity: 0;
}

.topButton:hover + .bottomButton {
    opacity: 1;
}
