.buttonContainer {
    position: relative;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    user-select: none;

    svg {
        position: absolute;
    }
}

.fade {
    transition: opacity ease-in-out 0.125s;
}

.topButton {
    z-index: 1;

    &:hover + .bottomButton {
        opacity: 1;
    }
}

.bottomButton {
    opacity: 0;
}
