.memberCard {
    background-color: var(--theme-card-alt-background);
    width: 100%;
    padding: 1em;
    border-radius: 1rem;
}

.memberCardTitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.memberCardDescriptionRow {
    margin-top: 1rem;
}