.modalForm {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.modalForm input,
.modalForm textarea {
    font-family: inherit;
}

.modalForm input:not(:last-child),
.modalForm textarea {
    margin-bottom: 1rem;
}

/* Text Field */

.modalForm input[type='text'] {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

/* TextArea Field */

.modalForm textarea {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    resize: none;
}

/* Submit Button */

.modalForm input[type='submit'] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(36, 101, 112);
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.modalForm input[type='submit']:hover {
    background-color: rgb(67, 153, 168);
}
