.modalForm {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    gap: 2rem;

    input,
    textarea {
        font-family: inherit;
    }

    /* Text Field */

    input[type='text'] {
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
    }

    /* TextArea Field */

    textarea {
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        resize: none;
    }

    /* Submit Button */

    input[type='submit'] {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        transition: 0.25s;
    }
}

/* Submit Buttons */

.submitRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goodSubmit {
    background-color: rgb(36, 101, 112);

    &:hover {
        background-color: rgb(67, 153, 168);
    }
}

.badSubmit {
    background-color: rgb(112, 36, 36);

    &:hover {
        background-color: rgb(168, 67, 67);
    }
}
