.modalForm {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
}

.modalForm input:not(:last-child) {
    margin-bottom: 1rem;
}

/* Text Field */

.modalForm input[type=text] {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

/* Submit Button */

.modalForm input[type=submit] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(36, 101, 112);
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.modalForm input[type=submit]:hover {
    background-color: rgb(67, 153, 168);
}

/* Color Picker */

.modalForm input[type=color] {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    outline: 0.125rem solid white;
}

.modalForm input[type=color]:hover {
    cursor: pointer;
}

.modalForm input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.modalForm input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}