.modalForm {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;

    input {
        font-family: inherit;
    }

    /* Text Field */

    input[type='text'] {
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
    }

    /* Submit Button */

    input[type='submit'] {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        transition: 0.25s;
    }

    /* Color Picker */

    input[type='color'] {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        outline: 0.125rem solid white;

        &:hover {
            cursor: pointer;
        }

        &::-webkit-color-swatch,
        &::-webkit-color-swatch-wrapper {
            border: none;
            border-radius: 50%;
            padding: 0;
        }
    }
}

/* Submit Buttons */

.submitRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goodSubmit {
    background-color: rgb(36, 101, 112);

    &:hover {
        background-color: rgb(67, 153, 168);
    }
}

.badSubmit {
    background-color: rgb(112, 36, 36);

    :hover {
        background-color: rgb(168, 67, 67);
    }
}

/* Container for inputs (title, color) */

.inputsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
