.card {
    background: var(--theme-card-background);
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.cardHeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.cardTitle {
    font-size: 2rem;
    font-weight: bold;
}

.groupCardTitleRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groupCardTitleRightSide div {
    margin-left: 1rem;
}

.cardGroupMembers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardGroupMembers > div {
    margin-bottom: 1rem;
}

.cardGroupMembers span {
    padding-top: 1rem;
}
